<!DOCTYPE html>
<html>
<head>
  <title>JubeatPlusAnalysis</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<!-- Header -->
<%= render 'commons/header' %>

<!-- SideVar -->
<% if user_signed_in? %>
    <%= render 'commons/sidevar' %>
<% end %>

<!-- Main Contents -->
<main
<% if user_signed_in? %>
class="side-var-padding-left"
<% end %>
>

  <div class="row">
    <div class="col s10 offset-s1">
      <% if notice %>
          <div class="notice">
            <div class="row">
              <div class="col s12">
                <div class="card-panel green lighten-3">
                  <%= notice %>
                </div>
              </div>
            </div>
          </div>
      <% elsif alert %>
          <div class="alert">
            <div class="container">
              <div class="row">
                <div class="col s12">
                  <div class="card-panel red lightten-3">
                    <%= alert %>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <% end %>

      <%= yield %>
    </div>
  </div>
</main>
</body>
</html>
